<!DOCTYPE html>
<html>
<head>
  <title>MovieTimeRails</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js', 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
